 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Kaushan+Script&family=Macondo&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poor+Story&family=Protest+Riot&family=Protest+Strike&display=swap');

  .navbar{
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: "Dancing Script", cursive;
      background-color: #D2122E;
      /* padding: 10px; */
      position: sticky;
      top: 0;
      z-index: 100;
      /* padding: 1rem; */
      box-shadow: rgba(68, 68, 117, 0.25) 0px 50px 100px -20px, rgba(31, 30, 30, 0.3) 0px 30px 60px -30px, rgba(32, 77, 122, 0.35) 0px -2px 6px 0px  inset;
      
  }
  
  .nav-logo{
      color: white;
      font-size: 18px;
      margin-left: 20px;
      display: flex;
     align-items: center;
     justify-content: center;
     
  }

 .nav-logo .bd{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 30px;
    
 }
  
  .nav-links a{
      text-decoration: none;
      margin-right: 20px;
      font-family: "Protest Strike", sans-serif;
      color: white;
      font-size: 17px;
      transition: all 0.4s ease-in-out;
  }
  
  .nav-links a:hover{
      color:  #D2122E;
      background-color: white;
      padding: 10px 10px;
      border-radius: 2px;
  }

  .nav-links span:hover{
    color: #D2122E;
  }

 
  
  .nav-icon{
      font-size: 30px;
      
  }
  
  .nav-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
    }
  
    
  .menu-toggle {
      display: none;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 30px;
      height: 20px;
      cursor: pointer;
    }
    
  .bar {
      width: 100%;
      height: 3px;
      background-color: white;
      transition: all 0.3s ease;
      margin-right: 20px;
    }
    
   .navbar span{
    color: white;
 
   }

   .cart-trolley{
    font-size: 30px;
   }


   .nav-btns{
    display: flex;
    align-items: center;
    justify-content: center;
   }

   
   .auth-btns{
    background-color: white;
    border: 1px solid white;
    padding: 10px 40px;
    color: #D2122E;
    font-weight: 800;
    margin-right: 20px;
    font-family:  'Poppins', sans-serif;
    cursor: pointer;
   }

  .nav-btns .username {
    color: white;
    font-family:  'Poppins', sans-serif;
    margin-right: 10px;
   }
    
  @media (max-width: 768px) {
      .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 92%;
        background-color: #D2122E;
        color: white;
        padding: 1rem;
        border-bottom: 1px solid #ddd;
        transition: all 2s;
      }
    
      .nav-links.open {
        display: flex;
      }
    
      .nav-links a {
        margin-bottom: 1rem;
      }
    
      .menu-toggle {
        display: flex;
      }
    }
     
